@font-face {
  font-family: "SourceHanSerif";
  font-weight: bold;
  src: url("./SourceHanSerifCN-Bold.ttf");
}

@font-face {
  font-family: "SourceHanSerif";
  font-weight: normal;
  src: url("./SourceHanSerifCN-Regular.ttf");
}
